<div class="card-deck">
    <div class="card" *ngFor="let artista of artistaservice.data">
        <img [src]="artista.link_imagen" (click)="populateForm(artistaservice.data)" class="card-img-top" alt="..." width="200px">
        <div class="card-body">
            <h5 class="card-title">{{artista.nombre}}</h5>
            <h5> <span class="badge badge-dark">{{artista.nombre_real}}</span> </h5>
            <p class="card-text">{{artista.generos}}</p>
        </div>
        <div class="card-footer">
            <a [href]="artista.link_canal" target="_blank" class="card-link">Escuchar</a>
            <a (click)="deleteArtista(artista.idArtista)" href="#" class="red card-link ">Eliminar</a>

        </div>
    </div>

</div>